#timerDisplay {
    text-align: right;
}

#button-container {
    text-align: center;
}

#instructions {
    text-align: center;
}

#answer1div, #answer2div, #answer3div, #answer4div {

    padding: 10px;
}

 #quiz-result-text {
    background-color: chartreuse;
    text-align: center;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}
/*
#answer2 {
    background-color: darkblue;
}

#answer3 {
    background-color: darkred;
} */