body {
    background-image: url("../images/blue-snow.png");
}

#timerDisplay {
    text-align: right;
}

#button-container {
    text-align: center;
}

#instructions {
    text-align: center;
}

#answer1div, #answer2div, #answer3div, #answer4div {
    padding: 10px;
}

 #quiz-result, #high-score {
    display: flex;
    justify-content: center;
}

#quiz-result-text {
    margin: auto;
    text-align: center;
    justify-content: center;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

#store-initials-text {
    padding-bottom: 15px;
    padding-top: 15px;
}

#after-game-buttons {
    display: flex;
    justify-content: center;
}

#answer1div, #answer2div, #answer3div, #answer4div {
    display: flex;
    justify-content: center;
}

#submit-initials-button, #clear-list-button, #new-game-button {
    margin: 10px;
}